## Deliverable 3. Create a Travel Itinerary Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import sys
import os

# Import API key
sys.path.insert(1, '../')
from config import google_api_key

# Configure gmaps
gmaps.configure(api_key=google_api_key)

In [5]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
filepath = os.path.join("../", "Vacation_Search", "WeatherPy_vacation.csv")
vacation_df = pd.read_csv(filepath)
vacation_df.head()

,City_ID,name,country,max_temp,current_description,lat,lng,Hotel Name
0,5,puerto ayora,ec,77.00,overcast clouds,-0.7393,-90.3518,Castillo Galapagos
1,9,atuona,pf,79.52,few clouds,-9.8000,-139.0333,Villa Enata
2,19,rikitea,pf,77.56,broken clouds,-23.1203,-134.9692,Pension Maro'i
3,22,soure,br,78.42,broken clouds,-0.7167,-48.5233,Casarão
4,23,atuona,pf,79.52,few clouds,-9.8000,-139.0333,Villa Enata

In [8]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{name}</dd>
<dt>Country Code</dt><dd>{country}</dd>
<dt>Weather Description</dt><dd>{current_description}</dd>
<dt>Maxium Temperature</dt><dd>{max_temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["lat", "lng"]]

In [9]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [81]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[(vacation_df['name'] == 'harper')]
vacation_end = vacation_df.loc[(vacation_df['name'] == 'harper')]
vacation_stop1 = vacation_df.loc[(vacation_df['name'] == 'san-pedro')]
vacation_stop2 = vacation_df.loc[(vacation_df['name'] == 'takoradi')] 
vacation_stop3 = vacation_df.loc[(vacation_df['name'] == 'porto novo')]
vacation_stop3

,City_ID,name,country,max_temp,current_description,lat,lng,Hotel Name,lat_lng
181,1358,porto novo,cv,79.18,few clouds,6.4965,2.6036,Tour Eiffel Hotel Benin,"(6.4965, 2.6036)"

In [82]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start[['lat', 'lng']].to_numpy()[0])
end = tuple(vacation_end[['lat', 'lng']].to_numpy()[0])
stop1 = tuple(vacation_stop1[['lat', 'lng']].to_numpy()[0])
stop2 = tuple(vacation_stop2[['lat', 'lng']].to_numpy()[0])
stop3 = tuple(vacation_stop3[['lat', 'lng']].to_numpy()[0])
start

(4.375, -7.7169)

In [83]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
direction_layer = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')

In [84]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,name,country,max_temp,current_description,lat,lng,Hotel Name,lat_lng
0,474,harper,lr,79.30,scattered clouds,4.3750,-7.7169,Screensaver,"(4.375, -7.7169)"
1,474,harper,lr,79.30,scattered clouds,4.3750,-7.7169,Screensaver,"(4.375, -7.7169)"
2,1742,san-pedro,ci,78.12,few clouds,4.7485,-6.6363,Hotel Maria,"(4.7485, -6.6363)"
3,1530,takoradi,gh,79.21,broken clouds,4.8845,-1.7554,Raybow International Hotel,"(4.8845, -1.7554)"
4,1358,porto novo,cv,79.18,few clouds,6.4965,2.6036,Tour Eiffel Hotel Benin,"(6.4965, 2.6036)"

In [85]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City Name</dt><dd>{name}</dd>
<dt>Country Code</dt><dd>{country}</dd>
<dt>Weather Description</dt><dd>{current_description}</dd>
<dt>Maxium Temperature</dt><dd>{max_temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["lat", "lng"]]

In [86]:
# 11a. Add a marker layer for each city to the map.
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(direction_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))